<section data-ng-controller="HomeController" data-ng-init="findBooks()">

    <div class="loader" ng-show="loading">Loading...</div>
    <a data-ng-repeat="book in books "
       data-ng-href="#!/{{book.id}}">
        <article>
            <figure>
                <img src="./modules/core/img/book_empty.jpg" alt="Book Empty" />
            </figure>
            <div class="details">
                <h2>{{book.title}}</h2>
                <h3>By {{book.author}}</h3>
                <h4>{{book.price | currencyFilter:book.currencyCode}}</h4>
                <p>ISBN | {{book.isbn}}</p>
            </div>
        </article>
    </a>

</section>
