<section data-ng-controller="HomeController" data-ng-init="getGifs()">
    <div class="container">
        <div class="header">
            <ul class="ul-no-style">
                <li>
                    <h2>Are you a Cat or a Dog person?</h2>
                </li>
                <li>
                    <form name="catDogForm" class="catDogForm">
                        <div class="radio">
                            <input id="both" type="radio" ng-model="selection.value" value="both"
                                   ng-change="onSelectionChanged(selection.value)">
                            <label for="both">Both</label>
                            <input id="dogs" type="radio" ng-model="selection.value" value="dogs"
                                   ng-change="onSelectionChanged(selection.value)">
                            <label for="dogs">Dog</label>
                            <input id="cats" type="radio" ng-model="selection.value" value="cats"
                                   ng-change="onSelectionChanged(selection.value)">
                            <label for="cats">Cat</label>
                        </div>
                    </form>
                </li>
            </ul>
        </div>

        <div class="grid">
            <div class="col-1-3"
                 data-ng-repeat="gif in gifs | startFrom:currentPage*pageSize | limitTo:pageSize">
                <article class="module hoverGif">
                    <a data-ng-href="#!/{{gif.id}}">
                        <figure>
                            <img ng-src="{{gif.images.fixed_height.url}}" class="gifImage">
                        </figure>
                    </a>
                </article>
            </div>
            <div>{{error}}</div>
            <div class="pagination">
                <button class="paginationButton" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                    Previous
                </button>
                {{currentPage+1}}/{{numberOfPages}}
                <button class="paginationButton" ng-disabled="currentPage >= customers.length/pageSize - 1"
                        ng-click="currentPage=currentPage+1">
                    Next
                </button>
            </div>
        </div>
    </div>

</section>
